@using EEWF.Domain.DTOs.About;
@{
    ViewData["Title"] = "Update";
}

@section Css {
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
}

@model AboutDto

<div class="d-flex justify-content-center align-items-center" style="width: 100%;">
    <form asp-action="Update" asp-controller="About" style="width: 60%;" enctype="multipart/form-data">
        <h4>About title</h4>
        <input type="text" name="Title" asp-for="Title" class="form-control mb-3" placeholder="Brand name">
        <span style="color: red;">@Html.ValidationMessageFor(x => x.Title)</span>
        <h4>About description</h4>
        <textarea type="text" name="Description" asp-for="Description" class="form-control mb-3" placeholder="Brand name"></textarea>
        <span style="color: red;">@Html.ValidationMessageFor(x => x.Description)</span>
        <h4>About image</h4>
        <img src="~/uploads/about/@Model.Image" width="200" height="200" style="margin-bottom: 15px; border-radius: 10px;" />
        <input class="form-control" name="ImageFile" asp-for="ImageFile" placeholder="Şəkil">

        <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="d-flex align-items-center" style=" background-color: green; padding: 10px 15px; color: white; border: 1px solid white; border-radius: 5px; font-weight: 600;"><i class='bx bx-save' style="margin-right: 7px;"></i>Save</button>
        </div>
    </form>
</div>

@section Scripts {
    <!--  BEGIN CUSTOM SCRIPTS FILE  -->
    <script src="~/admin/assets/js/scrollspyNav.js"></script>
    <script src="~/admin/plugins/select2/select2.min.js"></script>
    <script src="~/admin/plugins/select2/custom-select2.js"></script>
    <!--  BEGIN CUSTOM SCRIPTS FILE  -->
    <script>
        var ss = $(".basic").select2({
            tags: true,
        });
    </script>
        }